<h1><%= t "pages.about.title" %></h1>
<p>
  <%= t ".pabout_1" %>
  <%= link_to t(".rails_link"), "http://www.railstutorial.org/" %>
  <%= t ".pabout_2" %>
  <%= link_to t(".book_link"), "http://www.railstutorial.org/book" %>
  <%= t ".pabout_3" %>
  <%= link_to t(".screen_link"), "http://screencasts.railstutorial.org/" %>
  <%= t ".pabout_4" %>
  <%= link_to t(".rubyonrails_link"), "http://rubyonrails.org/" %>
  <%= t ".pabout_5" %>
</p>
