<h1><%= t "pages.help.title" %></h1>
<p>
  <%= t ".phelp_1" %>
  <%= link_to t(".railshelp_link"), "http://www.railstutorial.org/help" %>
  <%= t ".phelp_1" %>
  <%= link_to t(".railsbook_link"), "http://www.railstutorial.org/book" %>
</p>
